In [1]:
#1)Write a NumPy program to multiply two given arrays of same size element-by-element.
import numpy as np
array1 = np.array([1, 2, 3, 4])
array2 = np.array([5, 6, 7, 8])
result = array1 * array2
print("Array 1:", array1)
print("Array 2:", array2)
print("Element-wise multiplication result:", result)

Array 1: [1 2 3 4]
Array 2: [5 6 7 8]
Element-wise multiplication result: [ 5 12 21 32]

In [7]:
#2)Write a NumPy program to find the missing data in a given array.
import numpy as np
array_with_missing_data = np.array([1, 2, np.nan, 4, np.nan, 6])
missing_data = np.where(np.isnan(array_with_missing_data))


print("missing data:", missing_data)

missing data: (array([2, 4]),)

In [9]:
#3)Write a NumPy program to test whether each element of a 1-D array is also present in a second array.
import numpy as np

first_array = np.array([1, 2, 3, 4, 5])
second_array = np.array([5, 6, 7, 8, 9])
np.array_equal(first_array,second_array)

False

In [8]:
#4)Write a NumPy program to save a NumPy array to a text file.
import numpy as np


my_array = np.array([[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]])


file_path = "my_array.txt"


np.savetxt(file_path, my_array)

print("Array has been saved to:", file_path)

Array has been saved to: my_array.txt

In [4]:
#5)Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.
import numpy as np

result_array = np.linspace(2.5, 6.5, 30)

print("1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):")
print(result_array)

1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [10]:
#1)Write a Pandas program to convert Series of lists to one Series.
import pandas as pd
series_of_lists = pd.Series([[1, 2, 3], [4, 5], [6, 7, 8]])
one_series = series_of_lists.explode()

print("Series of lists:")
print(series_of_lists)
print("\nOne Series:")
print(one_series)

Series of lists:
0    [1, 2, 3]
1       [4, 5]
2    [6, 7, 8]
dtype: object

One Series:
0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
dtype: object

In [11]:
#2Write a Pandas program to create a subset of a given series based on value and condition.
import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
series = pd.Series(data['A'], index=data['B'])

condition = series > 3


subset = series[condition]

print("Original Series:")
print(series)
print("\nSubset based on condition (value > 3):")
print(subset)

Original Series:
a    1
b    2
c    3
d    4
e    5
dtype: int64

Subset based on condition (value > 3):
d    4
e    5
dtype: int64

In [12]:
#3)Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
import pandas as pd

data = {'A': ['a', 'b', 'a', 'c', 'b', 'a']}
series = pd.Series(data['A'])
most_frequent_value = series.mode()[0]
series = series.apply(lambda x: x if x == most_frequent_value else 'Other')

print("Original Series:")
print(series)

Original Series:
0        a
1    Other
2        a
3    Other
4    Other
5        a
dtype: object

In [13]:
#4)Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
import pandas as pd
data = {'A': [10, 15, 20, 25, 30, 35, 40]}
series = pd.Series(data['A'])
multiples_of_5_positions = series.index[series % 5 == 0]

print("Original Series:")
print(series)
print("\nPositions of numbers that are multiples of 5:")
print(multiples_of_5_positions)

Original Series:
0    10
1    15
2    20
3    25
4    30
5    35
6    40
dtype: int64

Positions of numbers that are multiples of 5:
Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [14]:
#5)Write a Pandas program to calculate the number of characters in each word in a given series.

import pandas as pd


s = pd.Series(['golden', 'banana', 'cherry', 'cat', 'elephant'])
def g(s):
    return s.str.len()

result = g(s.copy())
print(result)

0    5
1    6
2    6
3    3
4    8
dtype: int64

In [15]:
#6)Write a Pandas program to convert year-month string to dates adding a specified day of the month.

import pandas as pd


dates = pd.Series(['2023-01', '2023-02', '2023-03', '2023-04', '2023-05'])
day = 15

def g(dates, day):
    return pd.to_datetime(dates + '-' + str(day), format='%Y-%m-%d')

result = g(dates.copy(), day)
print(result)

0   2023-01-15
1   2023-02-15
2   2023-03-15
3   2023-04-15
4   2023-05-15
dtype: datetime64[ns]

In [23]:
#7)Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

import pandas as pd

data = {'Name': ['Shannu', 'Ganesh', 'Vivek', 'Sharan', 'Teja'],
        'Age': [25, 23, 22, 28, 27],
        'City': ['Guntur', 'Vijayawada', 'Ongole', 'Khamam', 'Mangalagiri']}

df = pd.DataFrame(data, index=['A', 'B', 'C', 'D', 'E'])

print(df)

     Name  Age         City
A  Shannu   25       Guntur
B  Ganesh   23   Vijayawada
C   Vivek   22       Ongole
D  Sharan   28       Khamam
E    Teja   27  Mangalagiri

In [17]:
#8)Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

import pandas as pd


exam_data = {'name': ['Michael', 'Andy', 'Dwight', 'Jim', 'Pam'],
             'attempts': [1, 3, 2, 1, 4]}

df = pd.DataFrame(exam_data)

filtered_df = df[df['attempts'] > 2]

print(filtered_df)

   name  attempts
1  Andy         3
4   Pam         4

In [24]:
#9)Write a Pandas program to append a new row &#39;k&#39; to data frame with given values for each column. Now delete the new row and return the original DataFrame.
import pandas as pd


exam_data = {'name': ['Shannu', 'Mandy', 'Ram', 'Jim', 'Pam'],
            'score': [85, 77, 92, 88, 95]}

df = pd.DataFrame(exam_data)

def append_and_restore(df):
   k = {'name': 'Oscar', 'score': 81}
   new_df = df.append(k, ignore_index=True)
   original_df = new_df.iloc[:-1, :]
   return original_df

restored_df = append_and_restore(df.copy())
print(restored_df)

     name  score
0  Shannu     85
1   Mandy     77
2     Ram     92
3     Jim     88
4     Pam     95

<ipython-input-24-c90780f6b0a7>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = df.append(k, ignore_index=True)

In [26]:
#10)Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

import pandas as pd


exam_data = {'name': ['Arjun', 'Mandy', 'Dwight', 'Krishna', 'Pam'],
             'score': [85, 77, 92, 88, 95]}

df = pd.DataFrame(exam_data)

sorted_df = df.sort_values(by=['name', 'score'], ascending=[False, True])

print(sorted_df)

      name  score
4      Pam     95
1    Mandy     77
3  Krishna     88
2   Dwight     92
0    Arjun     85

In [27]:
#11)Write a Pandas program to replace the &#39;qualify&#39; column contains the values &#39;yes&#39; and&#39;no&#39; with True and False.

import pandas as pd


data = {'name': ['Krishna', 'Arjuna', 'Nakhula', 'Sahadaev', 'Bheema'],
        'score': [85, 77, 92, 88, 95],
        'qualify': ['yes', 'no', 'yes', 'no', 'yes']}

df = pd.DataFrame(data)

df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

print(df)

       name  score  qualify
0   Krishna     85     True
1    Arjuna     77    False
2   Nakhula     92     True
3  Sahadaev     88    False
4    Bheema     95     True

In [21]:
#12)Write a Pandas program to remove infinite values from a given DataFrame.

import pandas as pd
import numpy as np


df = pd.DataFrame([1000, 2000, np.inf, -np.inf, np.nan, 4000])

def remove_infinite_values(df):
    return df.replace([np.inf, -np.inf], np.nan).dropna()

cleaned_df = remove_infinite_values(df.copy())
print(cleaned_df)

        0
0  1000.0
1  2000.0
5  4000.0